<mat-form-field [floatLabel]="'auto'">
    <input matInput type="text" placeholder="Enter Location" [matAutocomplete]="auto" 
      [formControl]="inputFieldFormControl"  />
     
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
      <mat-option *ngFor="let option of searchOptions | async" [value]="option.data.name" 
        (onSelectionChange)="optionSelectionChange(option, $event)"
        [matTooltip]="option.fullAddress" matTooltipShowDelay="2000">
        <span class="mat-body">{{ option.data.name }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
