  <mat-toolbar color="primary">
    <mat-toolbar-row>
    <span class="example-spacer"></span>
    <h1>Job Mapper</h1>
      <span class="example-spacer"></span>
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/About" >About</button>
      <button mat-button routerLink="/LogIn" >Log In </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <h2>Find the Job you Want in Your Area</h2>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
