<!-- Website Title and Tagline -->
<header>
    <h1>Job Mapper</h1>
    <h2>Find the Job You Want in Your Area</h2>
</header>
<!-- Nav Bar -->
<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Search Functionality -->
<app-search-forum></app-search-forum>