<div class="container">
    <form action="/" #f="ngForm">
        <app-autocomplete (locationChange)="autocompleteChanged($event)" #location name="location"></app-autocomplete>
        <br>
        <div class="form-group">
            <label for="jobTitle">Job Title: </label>
            <input ngModel name="jobTitle" id="jobTitle" class="form-control" #jobTitle type="text">
        </div>
        <input type="submit" value="Search" routerLink="/SearchFunc/{{location}}/{{jobTitle.value}}">
    </form>
</div>